/* main */
html, body {
    height: 100%;
    margin: 0;
    /* display: flex; */
    flex-direction: column;
}
.content {
    flex: 1;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex: 1;
}
/* end main */

/* nav */
.navbar-nav {
    width: 100%;
}
.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-bar {
    flex: 1;
    max-width: 600px;
}
/* end nav */

/* button */
.btn-success{
    background-color: rgb(34, 167, 34);
    color: white;
    border: none;
}
.btn-success:hover{
    background-color: green;
    color: white;
    transition: .3s;
}
.laos-button:active{
    background-color: limegreen;
    color: white;
}
.laos-outline-button{
    background-color: transparent;
    color: limegreen;
    border: 1px solid limegreen;

}

.laos-outline-button:hover{
    background-color: limegreen;
    transition: .3s;
    color: white;
}
.laos-outline-button.active{
    background-color: rgb(34, 167, 34);
    color: white;
}
.btn-warning:active{
    background-color: gold;
    color: limegreen;
}
.btn-warning.active{
    border-color: gold;
    background-color: transparent;
    color: limegreen;
}
.btn-warning:hover{
    background-color: gold;
    color: black;
    transition: .3s;
}


/* end button */


.decoration-none{
    text-decoration: none; 
    color: inherit;
}
.me20{
    margin-right: 20px;
}
.cursor-pointer{
    cursor: pointer;
    user-select: none;
}
h6.title{
    padding-top: 3px;
    font-family: nunito;
    font-weight: bold;
}
h6.card-body .d-flex {
    margin-bottom: 0;
}
h6.card-body .d-flex .me-3 {
    margin-bottom: 10px;
}
.position-top-right {
    position: absolute;
    top: 15px;
    right: 15px;
}



/* dropdown */
.dropdown-item:hover{
    background-color:limegreen;
    color: white;
}
.dropdown-item:active{
    background-color:lime;
}
/* end dropdown */

/* 404 */
.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1.notfound{
    font-size: 10rem;
    margin: 0;
}
h3.notfound{
    font-size: 3rem;
    margin:0;
}
/* 404 end */


/* img setting */

.carousel-inner {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 10px 20px;
    border-radius: 5px;
}

.carousel-title {
    font-size: 5rem;
    /* margin-bottom: -10px; */

    font-weight: bold;
    text-decoration: none;
    color: black;
}

.carousel-subtitle {
    /* font-size: 2rem; */
    font-size: 2.2rem;

    font-weight: bold;

    color: #535151;
}
/* 
.carousel-img {
    object-fit: cover;
    height: 400px;
} */

.carousel-img {
    height: 500px; 
    object-fit: cover; 
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .carousel-img {
        height: 300px;
        /* Make image align to the right */
        object-position: right;
    }

    .carousel-caption {
        /* Adjust caption position for mobile view */
        left: auto;
        right: 10%;
        text-align: right;
    }

    .card.extra {
        width: 100px;
    }
}

.responsive-img {
    width: 50%; /* Mengisi 100% dari container-nya */
    max-width: 130px; /* Maksimal lebar gambar 200px */
    height: auto; /* Menjaga rasio aspek gambar */
}

/* Aturan untuk gambar di perangkat mobile */
@media (max-width: 768px) {
    .responsive-img {
        max-width: 100px; /* Maksimal lebar gambar 100px pada perangkat mobile */
    }
}

/* end img */



/* products homepage */
/* Adjust the flex container to manage the spacing and alignment */
.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    max-width: 220px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-20px);
    box-shadow: rgba(99, 99, 99, 0.4) 0px 4px 16px 0px; 
}

/* Adjust card sizing and spacing */
.product-card-container {
    flex: 1 0 200px; /* Ensures cards don't exceed 200px in width */
    max-width: 220px; /* Explicit max-width */
    padding: 0.7rem; /* Padding between cards */
}

/* Ensure the card takes the full available height within its container */
.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Remaining styles */
.product-card .card-body {
    flex-grow: 1;
}

.product-card .card-text {
    margin-top: auto;
}

.discount-label {
    position: absolute;
    top: -15px;
    right: -13px;
    display: flex;
    align-items: center;
}

.img-container img {
    max-height: 23rem;
}

.svg-image {
    width: 70px;
    height: auto;
}

.overlay-text {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

/* end products homepage */

/* footer */
.thin-font{
    margin-bottom: 0;
    font-family: nunito;
    font-weight: 300;
}
.footer {
    background-color: #f8f9fa;
    padding-top: 20px;
    flex-shrink: 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}
/* end footer */

/* detailproduk */
.product-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productMainImage {
    max-width: 100%;
    height: auto;
}

.image-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow-x: auto; /* Allows horizontal scrolling if necessary */
}

.page-item {
    display: flex;
    align-items: center;
    margin: 0 5px; /* Spacing between pagination items */
}

.page-link {
    border: none;
}


.page-link img {
    width: 80px; /* Set a consistent size for the thumbnails */
    height: auto;
    border: 1px solid #ddd; /* Optional: border around images */
    border-radius: 4px; /* Optional: rounded corners */
}

.page-link.active img {
    border-color: gray; /* Highlight active image */
}

  .page-item {
    margin: 0px;
  }
  
  .page-link img {
    height: auto;
  }
  
  .page-link.active img {
    position: relative;
    width: 100%;
    border: 2px solid gray; /* Highlight active image */
  }
  


.title-detail{
    /* color: limegreen; */
    color: rgb(34, 167, 34);
    margin-bottom: 0;
    font-family: nunito;
}

.discount-label-container {
    position: relative;
    width: 100%;
    max-width: 62px; /* Customize as needed */
}
.discount-label-svg-image {
    width: 100%;
    height: auto;
}
.discount-label-overlay-text {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

/* loading-animation */

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.loaderV2 {
    padding-top: 3px;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  

svg.star path,
svg.star rect {
  fill: #FF6700;
}



/* End loading-animation */


/* loading bar animation */
.loading-bar-container {
    width: 117%;
    height: 5px;
    border: 0px solid #000;
    position: relative;
    overflow: hidden;
}
.moving-element {
    width: 10%; /* Width is 25% of the container's width */
    height: 100%; /* Height is 100% of the container's height */
    background-color: limegreen;
    position: absolute;
    animation: moveBackAndForth 3s infinite;
}
@keyframes moveBackAndForth {
    0% { left: 0; }
    25% { left: 75%; } /* Moves to 75% of the container's width */
    50% { left: 0; }
    75% { left: 75%; }
    100% { left: 0; }
}
/* loading bar animation */



/* Drop Down Animation */
@media (min-width: 768px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
    .animate-1sec {
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
      }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
/* END Down Animation */


/* reviews */

.review-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}
.review-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-details {
    flex: 1;
}
.review-rating {
    color: #fbc02d;
}
.review-date {
    color: #757575;
    font-size: 0.9rem;
}
.review-product {
    margin-bottom: 5px;
}
.review-text {
    margin-top: 10px;
}
.review-product-image {
    width: 60px;
    height: 60px;
    margin-left: 15px;
}
.review-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* end review */
