html, body {
    height: 100%;
    margin: 0;
    /* display: flex; */
    flex-direction: column;
}

/* nav */
.navbar-nav {
    width: 100%;
}
.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-bar {
    flex: 1;
    max-width: 600px;
}
/* end nav */

/* button */
.laos-button{
    background-color: limegreen;
    color: white;
    border: none;
}
.laos-button:hover{
    background-color: lime;
    color: white;
}
.laos-button.active{
    background-color: lime;
    color: white;
}
.laos-outline-button{
    background-color: transparent;
    color: limegreen;
    border: 1px solid limegreen;

}
.laos-outline-button:hover{
    background-color: limegreen;
    color: white;
}
.laos-outline-button.active{
    background-color: limegreen;
    color: white;
    border: none;
}
.cart-button{
    background-color: black;
    color: white;
    border: none;
}
.cart-button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn-warning.active{
    background-color: gold;
    color: white;
    border: none;
}
.btn-warning:hover{
    background-color: gold;
    color: black;
}
.isi-collapse:hover{
    background-color: #cccccc;
}
/* end button */

.content {
    flex: 1;
}
.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1.notfound{
    font-size: 10rem;
    margin: 0;
}
h3.notfound{
    font-size: 3rem;
    margin:0;
}
h6.title{
    padding-top: 5px;
    font-family: sans-serif;
    font-weight: bold;
}
.footer-list{
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
}
.carousel-img {
    height: 450px; 
    object-fit: cover; 
}

@media (max-width: 768px) {
    .carousel-img {
        height: 300px;
    }
    .card.extra{
        width: 100px;
    }
}

.footer {
    background-color: #f8f9fa;
    padding-top: 20px;
    flex-shrink: 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}

/* detailproduk */
.title-detail{
    color: limegreen;
    margin-bottom: 0;
}